.cardContainer {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #a31515;
  aspect-ratio: 3 / 4;
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
  height: 100%;
}

.headingType {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  min-height: 3rem; /* reserves space for 2 lines */
  padding: 0.5rem;
}

.businessman {
  background-color: #a39fe9;
}

.accountant {
  background-color: #c7bec1;
}

.businessmanHeading {
  color: white;
}

.accountantHeading {
  color: #a31515;
}


/* Student Photo */
.photo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #a31515;
  background: #fff;
  z-index: 5;
}

/* Info Card */
.card {
  position: absolute;
  left: 50%;
  top: 58%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 88%;
  background: rgba(255,255,255,.85);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  z-index: 3;
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.middleContent{
  font-size: 0.7rem;
  font-weight: bold;
}

.bottomContent{
  font-size: 0.7rem;
  color: blue;
}

.middleContent, .bottomContent, .name {
  padding: 0;
  margin: 0;
}

/* TEXT */
.name {
  font-size: 0.8rem;
  font-weight: bold;
}

.qual {
  font-size: 0.4rem;
  margin-top: 0px;
}

/*  FULL HD */
@media (min-width: 1920px) {
  .heading {
    font-size: 3rem;
  }

  .name {
    font-size: 1.6rem;
  }

  .qual {
    font-size: 1.1rem;
  }

  .bottomContent {
    font-size: 1.1rem;
  }
}

/*  4K ULTRA */
@media (min-width: 2560px) {
  .heading {
    font-size: 3.8rem;
  }

  .name {
    font-size: 2rem;
  }

  .qual {
    font-size: 1.3rem;
  }

  .bottomContent {
    font-size: 1.3rem;
  }

  .certificate {
    height: 520px;
  }

  .content {
    max-width: 2400px;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 3rem;
  }
}

/*  MOBILE */
@media (max-width: 768px) {
  .heading {
    font-size: 1.6rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .qual {
    font-size: 0.95rem;
  }

  .bottomContent {
    font-size: 0.9rem;
  }

  .cardContainer {
    /*height: 50vh;*/
    height: 40vh;
  }

  .card {
    width: 75%;
    left: 50%;
    top: 60%;
  }

  .photo {
    top: 38%;
  }
}