.thead {
    background: #915b5b;
    color: #ffffff;
}

.thStyle {
    padding: 12px;
    text-align: center;
}

.tdStyle {
    padding: 10px;
    text-align: center;
}

.tableStyle {
    width: 100%;
    border-collapse: collapse;
}


.viewBtn {
    background: #3c9ae7;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.exportBtn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    font-size: 13px;
}

.heading {
    padding: 30px;
     background: #f5f6fa;
      min-height: 100vh;
}

.heading h2{
     text-align: center;
      margin-bottom: 20px;
}

.enquiryContain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px,
}

.card {
    background: #eae8e86f;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

.tableContainer {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.headerStyle {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeBtn {
    background: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.overlayStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalStyle {
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.headerSty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.bodyStyle {
    padding: 20px;
    overflow-y: auto;
}

.bodyStyle p {
    font-size: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button{
    background-color: #915b5b;
    color: white;
    padding: 1vh;
}

.cardContainer {
    padding: 20px;
}

.contain {
    padding: 30px;
    background: #f5f6fa; 
    min-height: 100vh;
}

.contain h2 {
    text-align: center;
     margin-bottom: 20px;
}

.saveBtn{
    background-color: #51e760;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 6px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}