.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 2vw;
}

.content h1 {
  font-size: 1.8rem;   /* scalable */
  color: #a31515;
  margin: 2vw 0;
  text-align: center;
}

/* MAIN CONTAINER */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  gap: 3vw;
  padding: 2vw;
}

/* CARD */
.card {
  width: 100%;
  padding: 1.5vw;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
}

.card h1{
  margin-top: 1vw;
  margin-bottom: 0;
}

/* HEADER */
.heading {
  font-size: 1.2rem;
  color: #a31515;
  letter-spacing: 0.1vw;
}

.address,
.city {
  font-size: 1.3rem;
  color: #a31515;
  line-height: 1.6;
}

/* IMAGE */
.photoCircle {
  width: 12vw;
  height: 25vh;
  border: 0.3vw solid gold;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  display: block;
  margin: 1.5vw auto;
}

/* NAME */
.name {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .photoCircle {
    width: 35vw;
    height: 25vh;
  }

  .heading {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0 10px;
  }
}

/* 🔥 4K ULTRA HD OPTIMIZATION */
@media (min-width: 2560px) {
  .content h1 {
    font-size: 3vw;
  }

  .heading {
    font-size: 1.5vw;
  }

  .address,
  .city {
    font-size: 1.3rem;
  }

  .name {
    font-size: 1.4rem;
  }

  .photoCircle {
    width: 10vw;
    height: 22vh;
  }

  .container {
    gap: 3vw;
  }
}