.footeArea {
    background-color: #4c0803;
}

.footerBottomArea {
  display: flex;
  justify-content: space-between; /* 🔥 pushes text left & icons right */
  align-items: center;
  padding: 0 20px;
  background-color: #8977762f;
}

.footerBottomArea p {
    color: #4c0803;
    font-size: 1rem;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.socialIcons a {
  width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  transition: 0.3s;
}

/* Brand Colors */
/*.social-icons a:nth-child(1) { background: #1877f2; } /* Facebook */
/*.social-icons a:nth-child(2) { background: #0077b5; } /* LinkedIn */
/*.social-icons a:nth-child(3) { background: #e4405f; } /* Instagram */
/*.social-icons a:nth-child(4) { background: #1da1f2; } /* Twitter */
/*.social-icons a:nth-child(5) { background: #ff0000; } /* YouTube */

.footerSocialMedia a:nth-child(1) { background: #1877f2; color: white; } /* FB */
.footerSocialMedia a:nth-child(2) { background: #0077b5; color: white; } /* LinkedIn */
.footerSocialMedia a:nth-child(3) { background: #e4405f; color: white; } /* Instagram */
.footerSocialMedia a:nth-child(4) { background: #1da1f2; color: white; } /* Twitter */
.footerSocialMedia a:nth-child(5) { background: #ff0000; color: white; } /* YouTube */

.socialIcons a:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.footerSocialMedia {
  display: flex;
  align-items: center;
  gap: 12px; 

}

.footerSocialMedia a {
  width: 35px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .footerBottomArea {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}