.thead {
    background: #a97a7a;
    color: #ffffff;
}

.thStyle {
    padding: 12px;
    text-align: center;
}

.tdStyle {
    padding: 10px;
    text-align: center;
}

tableStyle {
    width: 100%;
    border-collapse: collapse;
}

.deleteBtn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.exportBtn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    font-size: 13px;
}

.enquiry-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 25px;
     padding: 0 100px;*/
    gap: "140px",
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.headerStyle {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeBtn {
    background: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.overlayStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalStyle {
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.headerSty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.bodyStyle {
    padding: 20px;
    overflow-y: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

card-container {
    padding: 20px;
}