.root {
  width: 100%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a31515;
    text-align: center;
}

/* MAIN LAYOUT */
.container {
  display: flex;
  gap: 40px;
  width: 100%;
  margin: 50px auto;
  align-items: flex-start;
}

/* LEFT SIDE - MAP */
.map {
  flex: 2;
  margin-left: 20px;
}

.map h2 {
  margin-bottom: 15px;
}

.map iframe {
  width: 100%;
  min-height: 400px;
  border: 0;
  border-radius: 10px;
}

/* RIGHT SIDE - CONTACT */
.contact {
  flex: 1;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-right: 20px;
}

.contact h2 {
  margin-bottom: 20px;
}

/* EACH ROW */
.item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 15px;
}

.text{
    line-height: 1.6;
    color: #4c0803;
}

/* ICON */
.icon {
  width: 22px;
  font-size: 18px;
  color: #4c0803;
  flex-shrink: 0;
  margin-top: 3px;
}

/* TEXT */
.item div {
  line-height: 1.6;
  color: #444;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}