.root {
  padding: 20px;
}

/* Heading */
.heading {
  text-align: center;
  margin-bottom: 30px;
  color: #4c0803;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); /* increased */
  gap: 25px;
}

/* Card */
.card {
  background: #f9fafb;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background: #f7f2ec67;
  transition: 0.3s;
  min-height: 300px;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card Header */
.cardHeader {
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
}

.cardHeader h2 {
  color: #4c0803;
}

.cardHeader p {
  font-size: 14px;
  color: #4c0803;
}

/* Description */
.desc {
  font-size: 14px;
  margin: 10px 0;
}

/* Button */
.btn {
  background: #4c0803;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #6b0d06;
}

/* Hidden Content */
.content {
  max-height: 0;
  overflow: hidden;
  /*transition: 0.3s ease;*/
  transition: max-height 0.4s ease;
}

/* Show Content */
.show {
  max-height: 1500px;
  margin-top: 10px;
}

/* List */
.content ul {
  list-style: none;
  padding-left: 20px;
}

.content li {
  margin: 5px 0;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .heading {
    font-size: 28px;      /* adjust size if needed */
    line-height: 1.2;     /*  controls gap between lines */
    margin-bottom: 10px;  /* reduce extra space below */
  }
}



