/* Bottom text link */
p {
    margin-top: 15px;
    color: #4c0803;
    font-style: oblique;
}

a {
    color: #4c0803;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.enquiry-form {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    padding: 20px;
  gap: 10px;
}

.premium-card {
  max-width: 400px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 16px;
  background: #f7f2ec67;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  border: 1px solid #eee;
}

.premium-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* List Styling */
.premium-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.premium-card h2{
    color: #4c0803;
    margin-bottom: 20px;
}

.premium-card li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  color: #4c0803df;
  line-height: 1.5;
}

/* Check Icon */
.premium-card li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #22c55e;
  font-weight: bold;
}

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a31515;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #4c0803;
}

input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

 .error {
  color: red;
  font-size: 16px;
  margin-top: 2px;
}

.submit-button {
    background-color: #4c0803;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #88212659;
}

.contact-form-container:hover {
    transform: translateY(-5px);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #7b0f0f;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #7b0f0f;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #a31515;
}

.banner-container {
    overflow: hidden;
}

.banner-img {
    width: 100%;
    min-height: auto;
}

.widget ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.widget ul li {
    padding: 10px;
}

/* qualification dropdown*/
.select-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}

.header-contain {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #a31515;
}

.box-contain {
    text-align: center;
    margin-bottom: 50px;
}

.box-contain h1 {
    color: #a31515;
}

.box-contain p {
    color: #a31515ad;
}

.icon {
    margin-right: 8px;
    vertical-align: middle;
}

.btn-icon {
    margin-right: 6px;
}

.contactItem {
    display: flex;
    align-items: center;
    /* 👈 keeps icon + text in same row */
    gap: 10px;
    margin-bottom: 12px;
}

/* Mobile View */
@media (max-width: 768px) {
  .enquiry-form {
    flex-direction: column;
  }
}