.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 20px;
} 

/* Heading */
.heading {
  text-align: center;
  margin-bottom: 30px;
  color: #4c0803;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Card */
.card {
  background: #f9fafb;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  background: #f7f2ec67;
  transition: 0.3s;
  min-height: auto;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card Header */
.cardHeader {
  margin-bottom: 10px;
}

.cardHeader h2 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 3px solid #eee;
    color: #4c0803;
}

.cardHeader ul {
  padding-left: 20px;
  list-style: none !important;
}

.cardHeader p {
  color: gray;
  font-size: 14px;
}

/* List Items */
.cardHeader li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  color: #4c0803df;
  line-height: 1.5;
}


/* Check Icon */
.cardHeader li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #22c55e;
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .cardHeader {
    width: 90%;
  }
}