* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
  padding: 20px;
} 

/*  MAIN CONTAINER */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: flex-start;
  padding: 20px;
  align-items: stretch;
  gap: 20px;
}

.certificate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middleContent {
  flex: 1; /* 🔥 THIS FIXES EVERYTHING */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomContent {
  margin-top: auto; /* 🔥 KEY FIX */
  text-align: center;
}

.salary {
  margin-top: 10px;
}

.card {
  width: 100%;
  height: 100%; /* 🔥 VERY IMPORTANT */
  padding: 20px;
margin-top: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyCard {
  width: 100%;
  max-width: 220px;
  padding: 8px 10px;
  text-align: center;
  white-space: pre-line;
  word-break: break-word;
}

.heading {
  max-width: 90%;
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
}

/* HEADER */
.heading {
  font-size: 32px;
  color: #a31515;
  margin: 10px 0;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 1px;
}

.address {
  font-size: 20px;
  color: #a31515;
  margin: 0%;
}

/* PHOTO */
.photoCircle{
  width: 150px;
  min-height: 150px;
  border: 4px solid gold;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 50%;
}

/* NAME */
.name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1px;
}

.photoCircleWrapper{
  width: 250px;
  min-height: 150px;
  object-fit: cover;
  margin-top: 320px;
  text-align: center;
}

/* QUALIFICATION */
.qual {
  font-size: 14px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.salary {
  font-size: 14px;
  text-align: center;
  margin-top: auto; 
}

@media (max-width: 768px) {
  .certificate {
    width: 90%;
    margin: 10px auto;
  }

  .photo {
    width: 100px;
    min-height: 100px;
  }

  .heading {
    font-size: 20px;
  }
  
  h1 {
    font-size: 22px;   /* 🔥 reduce size */
    line-height: 1.4;  /* improve readability */
    padding: 0 10px;   /* spacing from sides */
    word-break: break-word;
  }
}

@media (max-width: 1024px) {
  .container {
    gap: 20px;
  }
}