.careerSection {
  padding: 80px 5%;
  background: #f7f2ec67;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  display: absolute;
  color: #a31515;
}

.smallHeading {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 10px;
}

.careerSection h2 {
  font-size: 42px;
  margin-top: 10px;
  color: #a31515;
  font-weight: bold;
}

.subtitle {
  color: #4c0803;
  margin-bottom: 50px;
}

.careerGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.careerCard {
  position: relative;
  padding: 35px 25px;
  background: #fff;
  border-radius: 12px;
  transition: 0.3s;
}

.careerCard:hover {
  transform: translateY(-5px);
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 10px 14px;
  border-bottom-left-radius: 14px;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  font-size: 48px;
  margin-bottom: 20px;
}

.careerCard h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.divider {
  width: 60px;
  height: 3px;
  margin: 0 auto 15px;
}

.careerCard p {
  line-height: 1.6;
  font-size: 15px;
}

.ctaBanner {
  margin-top: 50px;
  background: #4c0803;
  color: white;
  padding: 20px 30px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctaBanner span {
  font-size: 1.4rem;
}

.ctaBanner p {
  color: white;
  margin-top: 0;
}

.ctaBanner button {
  border: none;
  background: white;
  color: #4c0803;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

/* Tablet */
@media (max-width: 992px) {
  .careerGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .careerSection h2 {
    font-size: 32px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .careerGrid {
    grid-template-columns: 1fr;
  }

  .ctaBanner {
    flex-direction: column;
    gap: 15px;
  }

  .careerSection h2 {
    font-size: 28px;
  }
}